<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./tests/bootstrap.php"
         cacheTokens="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         verbose="false">
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="false">
            <directory>../src/</directory>
            <directory>./Test/</directory>
        </whitelist>
    </filter>
    <testsuite name="Caster Test Suite">
        <directory>./tests/UnitTest</directory>
        <directory>./tests/FeatureTest</directory>
    </testsuite>
</phpunit>
